<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, {:start_year => Time.zone.now.year, :end_year => Time.zone.now.year - 100, order: [:day, :month, :year]} %>
    <%#= form.date_select :birthdate, {order: [:day, :month, :year]} %>
  </div>

  <div class="field">    
   <%= form.label :gender %>
   <%= form.radio_button :gender, "male" %><span class="option">Male<span>
   <%= form.radio_button :gender, "female" %><span class="option">Female<span>
  </div>

  <div class="field">
     <%= image_tag user.profile_image.url, style: 'height:3vw;width:5vw;'if user.profile_image?%> </td>
    <%= form.label :profile_image %>
    <%= form.file_field :profile_image %>
  </div>
  
  <%= image_tag user.cover_image.url, style: 'height:3vw;width:5vw;'if user.cover_image?%> </td>
  <div class="field">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
