<p id="notice"><%= notice %></p>
<h1><%= @user.name %></h1>
<%= image_tag @user.profile_image.url, style: 'height:3vw;width:5vw;'if @user.profile_image?%>
<%= image_tag @user.cover_image.url, style: 'height:3vw;width:5vw;'if @user.cover_image?%>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
