<% content_for :title, 'Micro Post'%>
<h3>New Micropost</h3>
<%= form_for(@micropost,remote: true) do |micropost| %>
  <div>
    <%= micropost.label :content %>
    <%= micropost.text_field :content %>
  </div>
  <div>
    <%= micropost.file_field :micropost_image %>
  </div>
  <%= micropost.submit %>
<% end %>

<h2>Microposts</h2>
<div id="userMicroposts" >
  <%= render partial: "microposts/microposts" %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#micropost_image').change(function(){
      if(this.files[0].size > 1048576){
        alert ("micropost_image is more than 1 MB")
      }
    })
  })
</script>