<% @microposts.each do |micropost| %>
  <div class="row">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag micropost.user.profile_image.url, style: 'height:3vw;width:3vw;',class: "rounded-circle" if  micropost.user.profile_image?%>
      </div>
      <div class="col-md-8">
        <div class="row ">
          <span style="font-weight: bold;"><%= micropost.user.name %></span><small style="font-style: italic;"class="font-italic"><%= distance_of_time_in_words(Time.now, micropost.created_at)%> ago</small>
        </div>
      </div>
      <div class="col-md-2">
        <% if current_user.is_admin? %> 
          <%= link_to 'Delete', micropost_path(micropost.id), method: "delete",remote: true,class: "text-decoration-none", data:{ confirm: "Are you sure you want to delete the micropost?"}%>
        <% else %>
          <% if micropost.user.id == current_user.id %>
            <%= link_to 'Delete', micropost_path(micropost.id), method: "delete",remote: true,class: "text-decoration-none", data:{ confirm: "Are you sure you want to delete the micropost?"}%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col ml-3">
        <%= micropost.content%>
      </div>
    </div>
    <div class="row d-block mx-auto rounded">
      <%= image_tag micropost.micropost_image.url,style:'height:20vw;width:35vw;' if  micropost.micropost_image?%>
    </div>
    <div class="row mt-2 d-flex">
      <div class="col-md-8">
        <div class="d-flex" id="micropostLike-<%= micropost.id %>">
          <%= render partial: "likes/likeForm", locals: {micropost: micropost}%>
        </div>
      </div>
      <div class="col-md-4" id="micropostcomment-<%= micropost.id %>">
        <%= render partial: "comments/commentcount", locals: {micropost: micropost} %>
        <%#= link_to "#{pluralize(micropost.comments.count,'Comment')}", comments_show_micropost_path(id: micropost.id), class: "text-decoration-none" %>
      </div>
    </div>
    <div class="row" id="commentform-<%= micropost.id %>">
      <%= render partial: "comments/commentform",locals: {micropost: micropost} %>
    </div>
    <!--<div class="row clear" id="list-<%#= micropost.id %>">-->
    <div class="row clear" id="list-like-<%= micropost.id %>">
     
    </div>
    <div class="row clear" id="list-unlike-<%= micropost.id %>">
       
    </div>
    <div class="row clear" id="list-comment-<%= micropost.id %>">
      
    </div>
    <!--</div>-->
  </div>
  <hr>
<% end %>